.news-wrapper {
    --offset: 60px;

    margin-left: calc((var(--offset) / 2) * -1);
    margin-right: calc((var(--offset) / 2) * -1);
    width: auto;
    display: flex;
    flex-wrap: wrap;
    h1 {
        width: calc(100% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
    }
}
.news-card {
    width: calc(50% - var(--offset));
    margin-left: calc(var(--offset) / 2);
    margin-right: calc(var(--offset) / 2);
    margin-bottom: var(--offset);
}