.header {
  position: relative;
  align-self: flex-start;
  background: green;
  height: 50px;
  transition: all 0.4s ease-in-out;
  z-index: 30;
  display: flex;
  align-items: center;
  &>* {
    margin-right: auto;
  }
}

.header__big{
  height: 120px;
}